<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Webpixels" />
    <title>Project - Ak Project</title>
    <!-- Preloader -->
    <style>
        @keyframes hidePreloader {
            0% {
                width: 100%;
                height: 100%;
            }

            100% {
                width: 0;
                height: 0;
            }
        }

        body>div.preloader {
            position: fixed;
            background: white;
            width: 100%;
            height: 100%;
            z-index: 1071;
            opacity: 0;
            transition: opacity 0.5s ease;
            overflow: hidden;
            pointer-events: none;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        body:not(.loaded)>div.preloader {
            opacity: 1;
        }

        body:not(.loaded) {
            overflow: hidden;
        }

        body.loaded>div.preloader {
            animation: hidePreloader 0.5s linear 0.5s forwards;
        }
    </style>
    <script>
        window.addEventListener("load", function () {
            setTimeout(function () {
                document.querySelector("body").classList.add("loaded");
            }, 5);
        });
    </script>
    <!-- Favicon -->
    <!-- <link rel="icon" href="assets/img/brand/favicon.png" type="image/png" /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/assets/libs/@fortawesome/fontawesome-free/css/all.min.css" />
    <!-- Quick CSS -->
    <link rel="stylesheet" href="/assets/css/quick-website.css" id="stylesheet" />

    <!-- Custom css -->
    <link rel="stylesheet" href="/assets/css/my.css" />
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="spinner-grow text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="modal fade" tabindex="-1" role="dialog" id="modal-cookies" data-backdrop="false"
        aria-labelledby="modal-cookies" aria-hidden="true">
        <div class="modal-dialog modal-dialog-aside left-4 right-4 bottom-4">
            <div class="modal-content bg-dark-dark">
                <div class="modal-body">
                    <!-- Text -->
                    <p class="text-sm text-white mb-3">
                        We use cookies so that our themes work for you. By using our
                        website, you agree to our use of cookies.
                    </p>
                    <!-- Buttons -->
                    <a href="pages/utility/terms.html" class="btn btn-sm btn-white" target="_blank">Learn more</a>
                    <button type="button" class="btn btn-sm btn-primary mr-2" data-dismiss="modal">
                        OK
                    </button>
                </div>
            </div>
        </div>
    </div>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-mobile">
        <div class="container">
            <!-- Brand -->
            <a class="navbar-brand" href="/index.html">
                <img alt="Image placeholder" src="/assets/image/logo-akproject.png" id="navbar-logo" />
            </a>
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
                aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span><svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-text-right text-light"
                        fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M6 12.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5zm4-3a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-4-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5z" />
                    </svg></span>
            </button>
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mt-4 mt-lg-0 ml-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light active" href="/index.html#service">Service</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/views/project.html">Project</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="https://it-learning-education.now.sh/views/blog-java.html"
                            target="_blank">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="/views/about.html">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- Main content -->
    <section class="slice py-5" id="hero" style="height: 400px;">
        <div class="container mb-5 mt-4">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <h1 class="text-light text-center">Projects</h1>
                    <p class="text-center text-light"> Ini adalah beberapa proyek yang kami lakukan untuk klien kami.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <!-- Projects -->
    <section class="our-project" style="margin-top: -200px;">
        <div class="album py-5">
            <div class="container">
                <div class="row d-flex justify-content-center">

                    <!-- Project Website -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/ahmad.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Ahmad Kurniawan</span>
                                    <small class="mb-2">Website Developer</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-website.png" alt="">
                            <span class="h6 mt-2">Pembelajaran Fisika</span>
                            <small class="mb-3">Website</small>
                            <a class="btn btn-outline-primary" target="_blank"
                                href="https://mediapembelajaranfisika.com/">Live Privew</a>
                        </div>
                    </div>
                    <!-- Project Website -->

                    <!-- Project Design Grafis -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/dhea.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Dhea Kalingga</span> <br>
                                    <small class="mb-2">Design Grafis</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-luriksapi.png" alt="">
                            <span class="h6 mt-2">Pamflet PKM Lurk Sapi</span>
                            <small class="mb-3">Design Pamflet</small>
                            <a class="btn btn-outline-primary" href="">Details</a>
                        </div>
                    </div>
                    <!-- Project Design Grafis -->

                    <!-- Project Video -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/budi.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Tribudi Laksono</span> <br>
                                    <small class="mb-2">Videographer</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-video.png" alt="">
                            <span class="h6 mt-2">Xplainer Profile Sekolah</span>
                            <small class="mb-3">Video</small>
                            <a class="btn btn-outline-primary" target="_blank"
                                href="https://www.youtube.com/watch?time_continue=2&v=rmuSOwpbOCA&feature=emb_logo">Watch
                                Video</a>
                        </div>
                    </div>
                    <!-- Project Video -->

                    <!-- Project UI/UX -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/basid.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Abdul Basid</span> <br>
                                    <small class="mb-2">Ui/Ux Designer</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-ux.png" alt="">
                            <span class="h6 mt-2">Aplikasi Coblos Online</span>
                            <small class="mb-3">UX Design</small>
                            <a class="btn btn-outline-primary" target="_blank"
                                href="https://xd.adobe.com/view/9ab03712-df1a-4556-8809-c3307e33e3d6-cfe3/">Details</a>
                        </div>
                    </div>
                    <!-- Project UI/UX -->


                    <!-- Project Design Grafis -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/dhea.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Dhea Kalingga</span> <br>
                                    <small class="mb-2">Design Grafis</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-poster-pilkada.png" alt="">
                            <span class="h6 mt-2">Pamflet Aplikasi Pilkada</span>
                            <small class="mb-3">Design Pamflet</small>
                            <a class="btn btn-outline-primary" href="">Details</a>
                        </div>
                    </div>
                    <!-- Project Design Grafis -->

                    <!-- Project Video -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/budi.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Tribudi Laksono</span> <br>
                                    <small class="mb-2">Videographer</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-bumbaski.png" alt="">
                            <span class="h6 mt-2">Video Xplainer PKM BUMBASKI</span>
                            <small class="mb-3">Video</small>
                            <a class="btn btn-outline-primary" target="_blank" href="/views/coomingsoon.html">Watch
                                Video</a>
                        </div>
                    </div>
                    <!-- Project Video -->

                    <!-- Project Website -->
                    <div class="col-md-3 col-6">
                        <div class="card bg-light shadow-sm mb-4 p-2">
                            <!-- Profil -->
                            <div class="media">
                                <img src="/assets/image/profile-project/ahmad.png" class="mr-3" alt="...">
                                <div class="media-body">
                                    <span class="h6">Ahmad Kurniawan</span>
                                    <small class="mb-2">Website Developer</small>
                                </div>
                            </div>
                            <!-- Profil -->

                            <img class="mt-2" src="/assets/image/projects/project-alfalah.png" alt="">
                            <span class="h6 mt-2">Alfalah Krui</span>
                            <small class="mb-3">Website</small>
                            <a class="btn btn-outline-primary" target="_blank" href="http://alfalahkrui.com/">Live
                                Privew</a>
                        </div>
                    </div>
                    <!-- Project Website -->

                </div>
                <div class="row justify-content-center mt-5">
                    <a class="btn btn-soft-dark justify-content-center text-muted" href="">Load More &rarr;</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Projects -->

    <!-- Footer -->
    <div class="container mt-5">
        <!--Contact -->
        <section class="slice slice-lg  pt-4 footer-contact" id="contact">
            <div class="container">
                <h1 class="text-center text-light">Contact Us</h1>
                <p class="text-center text-muted mb-5">Apakah Anda tertarik untuk bekerja sama dengan kami atau hanya
                    ingin
                    bertanya?</p>
                <div class="row row-grid justify-content-around align-items-center">
                    <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6">
                        <!-- Form -->
                        <form>
                            <div class="form-group">
                                <input type="email" class="form-control" id="Email" placeholder="name@example.com">
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="subject">
                            </div>
                            <div class="form-group">
                                <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                            </div>
                            <a class="btn btn-warning btn-block" href="">Kirim</a>
                        </form>
                    </div>
                    <div class="col-lg-6 order-lg-2 ml-lg-auto pl-lg-6">
                        <!-- Soscial Media -->
                        <p> Hubungi kami di :</p>
                        <p class="text-light"><i class="fab fa-whatsapp"></i> <a class="text-light" target="_blank"
                                href="https://api.whatsapp.com/send?phone=6282284674853">0822-8467-4853</a>
                        </p>
                        <p class="text-light"><i class="fab fa-instagram"></i> <a class="text-light" target="_blank"
                                href="https://www.instagram.com/akprojeect/">akprojeect</a></p>
                        <p class="text-light"><i class="fa fa-envelope"></i> akprojeect@gmail.com</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Contact -->






        <hr class="divider divider-fade divider-dark my-4" />
        <div class="row align-items-center justify-content-md-between pb-4">
            <div class="col-md-6">
                <div class="copyright text-sm font-weight-bold text-center text-md-left">
                    &copy; 2020
                    <a href="index.html" class="font-weight-bold" target="_blank">Akproject</a>. All rights
                    reserved
                </div>
            </div>
            <div class="col-md-6">
                <ul class="nav justify-content-center justify-content-md-end mt-3 mt-md-0">
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Terms </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Privacy </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Cookies </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    </div>
    </footer>
    <!-- Core JS  -->
    <script src="/assets/libs/jquery/dist/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/svg-injector/dist/svg-injector.min.js"></script>
    <script src="/assets/libs/feather-icons/dist/feather.min.js"></script>
    <!-- Quick JS -->
    <script src="/assets/js/quick-website.js"></script>
    <!-- Feather Icons -->
    <script>
        feather.replace({
            width: "1em",
            height: "1em",
        });
    </script>
</body>

</html>